@page
@model CINEMA_DB.Pages.FilReq.Request.TicketsModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                Seat
            </th>
            <th>
                Repertoire
            </th>
            <th>
                Staff
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Seat)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
          <td>  @{
                
                    try
                    {
                    @Model.Staff.First(s => s.ID == item.StaffID).FullName

                    }
                    catch
                    {
                    <p> нет </p>
                    }
                
            }</td>

            <td>
                @{
                    try
                    {
                        @Model.Repertoire.First(s => s.ID == item.RepID).ID
                    }
                    catch

                    {
                        <p> нет </p>
                    }
                }
            </td>

        </tr>

         }
    </tbody>
</table>